extends layout.pug

block content
  form(action='/coolc', method="POST")
    .form-group
      label(for='comment') COOL code:
      textarea#comment.form-control(rows='12' style='font-family:monospace;', name="code")
        |!{code}

    button.btn.btn-default(type='submit') Submit

  - if (result) {
      br
      
      pre
        |!{result}
  - }
